include README.md
include requirements.txt
include src/cpx_multiply.v
include src/cpx_multiply_inst.v
include src/cpx_multiply_tb.v
include src/sig_gen.v
include src/sig_gen_inst.v
include src/sig_gen_tb.v
include src/dot_prod.v
include src/dot_prod_inst.v
include src/dot_prod_tb.v